.App {
  margin: 20px;
  text-align: center;

  ul {
    margin: 10px auto;
    width: 400px;
    li {
      width: fit-content;
      line-height: 1.5;
    }

    li::marker {
      font-size: 1.5em;
    }

    li.seen::marker {
      color: gray;
    }

    li.new::marker {
      color: green;
    }
  }

  .chart {
    overflow-x: auto;
  }
}