.App {
  margin: 20px;
  text-align: center;

  .legend {
    display: flex;
    flex-direction: row;
  }

  ul {
    margin: 0 auto;
    li {
      width: fit-content;
      line-height: 1.5;
    }

    li::marker {
      font-size: 1.5em;
    }

    li.new.hymn::marker {
      color: hsl(234 46.7% 50%);
    }

    li.seen.hymn::marker {
      color: hsl(234 35% 75%);
    }

    li.new.psalm::marker {
      color: hsl(0 68% 50%);
    }

    li.seen.psalm::marker {
      color: hsl(0 40% 75%);
    }
  }
}